.robot-alert-tips-component {

  .robot-alert-tips-block {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    width: 2.63rem;
    background: #FFFFFF;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 0.24rem 0.27rem;

    .robot-alert-title {
      display: flex;
      align-items: center;
      justify-content: center;
      .robot-avatar {
        display: inline-block;
        width: 0.4rem;
        height: 0.4rem;
        border-radius: 50%;
        transform: translateY(-0.03rem);
      }
      .robot-title {
        display: inline-block;
        margin-left: 0.05rem;
        font-size: 0.15rem;
        font-weight: 400;
        color: #50505A;
      }
    }

    .robot-alert-content {
      margin: 0.15rem auto;
      font-size: 0.15rem;
      color: #50505A;
      line-height: 1.75;
    }

    .robot-alert-bottom {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .robot-buttom-item {
        display: inline-block;
        width: 0.8rem;
        font-size: 0.17rem;
        font-weight: 600;
        color: #999999;
        text-align: center;
        &.primary {
          color: #7DBE00;
        }
      }
    }
  }
}