{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "node": 6,
          "browsers": [
            "last 5 versions"
          ]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}