.public-results-component {

  .all-results-list {
    .bottom-tips {
      height: 0.4rem;
      line-height: 0.4rem;
      font-size: 0.12rem;
      color: #C1C0C9;
      text-align: center;
    }
  }

  .search-results-list {

    .empty-tips {
      margin-top: 1rem;
      font-size: 0.12rem;
      color: #C1C0C9;
      line-height: 0.22rem;
      text-align: center;
    }

    .self-summaries-block {
      margin-top: 0.3rem;
      .self-summaries-inner-container {
        max-height: 1.8rem;
        overflow: hidden;
        &.show-all {
          max-height: none;
          overflow: visible;
        }
      }
      .show-more-tips {
        height: 0.3rem;
        background: #FFFFFF;
        font-size: 0.12rem;
        color: #999999;
        line-height: 0.3rem;
        text-align: center;
        .icon-down {
          display: inline-block;
          font-size: 0.1rem;
          transform: scale(0.7);
        }
      }
    }

    .net-summaries-block {
      .net-summaries-tips {
        padding: 0.08rem 0;
        font-size: 0.12rem;
        font-weight: 400;
        color: #C1C0C9;
        line-height: 0.2rem;
        text-align: center;
      }
    }

    .recommend-btn {
      margin-top: 0.1rem;
    }
  }

}