@import '../../style/common.less';
body {
  background-color: #f5f5f5;
}
.topic {
  background-color: rgba(251, 210, 6, 0.32);
  font-size: 12px;
  padding: 8px 20px;
  color: rgba(80, 80, 90, 1);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  z-index: 10;
}
.public-address-component {
  margin-top: 10px;
  margin-right: 10px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px;
  width: calc((100% - 20px) / 3);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid @color-border-bottom;
  > div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.public-address-component:nth-child(3n) {
  margin-right: 0;
}
.public-address-head-img {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  overflow: hidden;
}
.public-address-info {
  width: 80%;
  text-align: center;
}

.public-address-title {
  color: @color-public-title;
  font-weight: @font-weight4;
  font-size: 13px;
  padding-top: 5px;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.public-address-introduction {
  min-height: 28px;
  padding: 5px 0;
  color: @color-content;
  font-weight: @font-weight4;
  font-size: 10px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /*! autoprefixer: off */
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.public-address-subscribe {
  width: 74px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border-radius: 14px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.no-subscribe {
  background: @color-btn;
  box-shadow: 0px 4px 10px 0px rgba(251, 210, 6, 0.32);
}
.is-subscribe {
  color: @color-content;
  border: 1px solid @color-btn;
  color: @color-btn;
}
.public-address-title strong {
  color: @color-btn;
}
.showMore {
  font-size: 12px;
  padding: 10px 0;
  text-align: center;
  color: @color-content;
}
.contentFlex {
  display: flex;
  flex-wrap: wrap;
  padding-top: 36px;
}
.scroll-view {
  padding-bottom: 48px;
  box-sizing: border-box;
}
.moreContent {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 10px;
  // z-index: 100;
  width: 100%;
  .moreItem {
    margin: 0 auto;
    padding: 0 8px;
  }
}
