@import '../../style/common.less';
.stepImg1 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 65vw;
  width: 96%;
}
.stepImg2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 35vw;
  width: 85%;
}
