@color-title: #333333;
@color-content: #999999;
@color-public-title: #50505a;
@color-gap: #f5f5f5;
@color-subscribe-btn: #fbd206;
@color-nav-active: #271b00;
@color-border-bottom: #efefef;
@font-title: 16px;
@font-public-title: 15px;
@font-content: 12px;
@font-nav: 13px;
@font-wight6: 600;
@font-weight4: 400;
